{{!-- header.hbs --}}
<style>
  nav.navbar-fixed-top {
    height: 60px;
    background: #fff;
    border-bottom: 2px solid #00A7EB;
  }
  .warning {
    color: red;
  }
  .navbar-right {
    margin-right: 30px;
  }
</style>


<nav role="navigation" class="navbar navbar-default navbar-fixed-top">
  <div class="navbar-header">
    <button type="button" data-toggle="collapse" data-target=".navbar-collapse" class="navbar-toggle">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a href="/" class="navbar-brand">电路分析考试系统</a>
    <ul class="nav navbar-nav ">
      <li class="active">
        {{#if user}}
          <li><a href="/{{user.role}}/home">个人主页</a></li>
          <li><a href="/logout">退出</a></li>
        {{ else }}
          <li><a href="#" class="login" data-toggle="modal" data-target="#loginModal">登录</a></li>
          <li><a href="#" class="signup" data-toggle="modal" data-target="#signupModal">注册</a></li>
        {{/if}}
      </li>
    </ul>

  </div>
  <ul class="nav navbar-nav navbar-right">
  {{!-- <li><a href="#">Link</a></li> --}}
  <li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"> {{#if user}} 欢迎 {{user.name}} {{/if}} <span class="caret"></span></a>
    <ul class="dropdown-menu" role="menu">
      <li>
      <a id="btn-update-password">
        <i class="fa fa-pencil-square-o"></i> 修改密码
      </a>
      </li>
      <li>
        <a href="/{{user.role}}/home"><i class="fa fa-tachometer"></i> 我的主页</a>
      </li>
      <li class="divider"></li>
      <li><a id="logout" href="/logout"><i class="fa fa-sign-out"></i> 安全退出</a></li>
    </ul>
  </li>
</ul>
</nav>
{{!-- 登录modal --}}
<div id="loginModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" class="modal fade">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" data-dismiss="modal" class="close closeModal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
          <h4 id="loginLabel" class="modal-title">登录</h4>
        </div>
        <div class="modal-body">
          <form method="post" action="/login" class="form-horizontal login">
            <filedset>
              <div class="form-group">
                <label for="login-username" class="control-label col-sm-4">用户名</label>
                <div class="col-sm-8">
                  <input id="login-username" type="text" name="username" placeholder="请输入您的学号" class="form-control" autofocus required/>
                <span class="fade warning">请正确输入学号！</span>
                </div>
              </div>
              <div class="form-group">
                <label for="login-password" class="control-label col-sm-4">密码</label>
                <div class="col-sm-8">
                  <input id="login-password" type="password" name="password" placeholder="请输入您的密码" class="form-control" required/>
                  <span class="fade warning">密码错误</span>
                </div>
              </div>
            </filedset>
            <div class="modal-footer">
              <button id="login" type="submit" class="btn btn-primary">登录</button>
              <button type="button" data-dismiss="modal" class="btn btn-default">取消</button>
            </div>
          </form>
        </div>
      </div>
    </div>
</div>
{{!-- 注册modal --}}
<div id="signupModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" class="modal fade">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" data-dismiss="modal" class="close closeModal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
          <h4 id="signupLabel" class="modal-title">注册</h4>
        </div>
        <div class="modal-body">
          <form method="post" action="/signup" class="form-horizontal signup" >
            <filedset>
              <div class="form-group">
                <label for="signup-username" class="control-label col-sm-4">用户名</label>
                <div class="col-sm-8">
                  <input id="signup-username" type="text" name="user[username]" placeholder="请输入您的学号" class="form-control" pattern="[0-9]+" oninvalid="setCustomValidity('请正确输入学号！')" autofocus required/>
                  <span class="fade warning">请正确输入学号！</span>

                </div>
              </div>
              <div class="form-group">
                <label for="signup-password" class="control-label col-sm-4">密码</label>
                <div class="col-sm-8">
                  <input id="signup-password" type="password" name="user[password]" placeholder="长度不小于8位" class="form-control" required/>
                </div>
              </div>
              <div class="form-group">
                <label for="signup-password-repeat" class="control-label col-sm-4">重复密码</label>
                <div class="col-sm-8">
                  <input id="signup-password-repeat" type="password" name="password" placeholder="请再次输入密码" class="form-control" required/>
                  <span class="fade warning">两次密码不一致！</span>
                  {{!-- <span class="fade warning">密码长度至少8位！</span> --}}

                </div>
              </div>
            </filedset>
            <div class="modal-footer">
              <button id="signup" type="submit" class="btn btn-primary">注册</button>
              <button type="button" data-dismiss="modal" class="btn btn-default closeModal">取消</button>
            </div>
          </form>
        </div>
      </div>
    </div>
</div>

{{#if user}}

{{else}}
<script>
  $(document).ready(function() {
    // 注册验证
    var $signName = $('#signup-username');
    var $signPwd = $('#signup-password');
    var $signpwdRp = $('#signup-password-repeat');
    // 登录验证
    var $loginName = $('#login-username');
    var $loginPwd = $('#login-password');

    var regexp = /^[0-9]{13}$/g;
    // var regexp = /^[0-9]+$/g;

    $('#loginModal, #signupModal').on('shown.bs.modal', function () {
      $('#login-username, #signup-username').focus();
    });
    $('#loginModal, #signupModal').on('hidden.bs.modal', function () {
      $('span.warning').addClass('fade');
    });



    // 注册验证
    $('#signupModal').on('submit', function(event) {
      event.preventDefault();
      var username = $signName.val();
      var pwd = $signPwd.val(), pwdRp = $signpwdRp.val();
       // 发送至服务器的数据
      var data = {
        username: username,
        password: pwd
      };
      if (!username.match(regexp)) {
        $signName.next().removeClass('fade');
      } else {
        $signName.next().addClass('fade');
      }
      if ( pwd !== pwdRp) {
        $signpwdRp.next().removeClass('fade');
      } else {
        $signpwdRp.next().addClass('fade');
      }
      if ( username.match(regexp) && pwd === pwdRp) {

       $.ajax({
        url: '/signup',
        type: 'POST',
        data: JSON.stringify(data),   // 发送至服务器的数据
        contentType: 'application/json',
      })
      .done(function(res) {
        console.log("success");
        console.log(res);
        if (res.err === 1) {
          $signName.next().removeClass('fade')
                          .text('用户名已被占用');
        } else if (res.success === 1){
          $('button.closeModal').click();
          $('ul.nav').html('<li><a href="/std/home">个人主页</a></li><li><a href="/logout">退出</a></li>');
        }

      })
      .fail(function() {
        console.log("error");
      })
      .always(function() {
        console.log("complete");
      });

      }

    });
    // 登录验证
    $('#loginModal').on('submit', function(event) {
      event.preventDefault();
      var username = $loginName.val();
      var pwd = $loginPwd.val();
       // 发送至服务器的数据
      var data = {
        username: username,
        password: pwd
      };

      // var $form = $(this).find('form.login')
      // var postdata = $form.serialize();
      // console.log($form);
      // console.log('postdata:', postdata);

      if ( username !== 'admin' && !username.match(regexp)) {
        return $loginName.next().removeClass('fade');
      } else {
        $loginName.next().addClass('fade');
      }

      if ( username == 'admin' || (username.match(regexp) && pwd)) {

       $.ajax({
        url: '/login',
        type: 'POST',
        data: JSON.stringify(data),   // 发送至服务器的数据
        // data: postdata,   // 发送至服务器的数据
        contentType: 'application/json',
      })
      .done(function(res) {
        console.log("success");
        console.log(res);
        if (res.err === 1) {
          $loginName.next().removeClass('fade')
                            .text('此学号还未注册！');
          $('#loginModal').hide('slow');
          $('#signupModal').modal();
        } if (res.err === 2) {
          $loginPwd.next().removeClass('fade');

        }
        else if (res.success === 1){
          $('button.closeModal').click();
          $('ul.nav').html('<li><a href="/std/home">个人主页</a></li><li><a href="/logout">退出</a></li>');
        }

      })
      .fail(function() {
        console.log("error");
      })
      .always(function() {
        console.log("complete");
      });
      }

    });

  });
</script>
{{/if}}
