{{!-- prob-info.hbs --}}
{{!-- 后台列表的每道题tr --}}

{{#each problems}}
    <tr class="prob-id-{{_id}}">
      <td>{{this.index}}</td>
      <td>{{this.chapter}}</td>
      <td>{{this.type}}</td>
      <td>{{this.title}}</td>
      <td>{{moment this.meta.updateAt format="YYYY-MM-DD"}}</td>
      <td><a href="/admin/problem/preview/{{_id}}"><button class="btn btn-primary">查看</button></a> </td>
      <td><a href="/admin/problem/edit/{{_id}}"><button class="btn btn-info">编辑</button></a> </td>
      <td><button class="btn btn-danger del" data-id="{{_id}}" data-toggle="modal" data-target="#delModal">删除</button></td>
    </tr>
{{/each}}
