{{!-- admin-newprobs.hbs --}}
{{!< ../layout}}
<style>
  .add-problem {
    font-size: 1.2em;
  }
  ol, ul{
    list-style-type: none;
  }
  .form-control {
    border: 1px solid #AFC6DA;
  }
  select#inputPaper {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;

    border: 1px solid #AFC6DA;
    padding:0 12px 0 6px;
    cursor: pointer;
    position: relative;
  }
  select::-ms-expand { display: none; }
</style>


<div class="container add-problem">
  <div class="row">
    <div class="col-md-12">
     <form action="/admin/problem/new" method="post" class="form-horizontal" enctype="multipart/form-data">
       {{#if problem._id}}
         <input type="hidden" name="problem[_id]" value="{{problem._id}}">
       {{/if}}
       <div class="form-group  ">
         <label for="inputIndex" class="col-sm-1 col-sm-offset-1 control-label">编号</label>
         <div class="col-sm-2">
          <input id="inputIndex" class="form-control" type="text" placeholder="{{problem.index}}" name="problem[index]"
          value={{problem.index}}>
         </div>

         <label for="inputChapter" class="col-sm-1 control-label">章节</label>
         <div class="col-sm-2">
          <input id="inputChapter" class="form-control" type="text"name="problem[chapter]" placeholder="{{problem.chapter}}" value={{problem.chapter}}>
         </div>

         <label for="inputType" class="col-sm-1 control-label">题型</label>
         <div id="inputType" class="{{problem.type}} col-sm-4 input-group">
             {{!--  <div id="" class="{{problem.type}}"></div> --}}
            <label class="radio-inline control-label">
            <input type="radio" name="problem[type]" id="multiple-choice" value="选择题"
            >选择题
            </label>
            <label class="radio-inline">
            <input type="radio" name="problem[type]" id="fill-in" value="填空题">填空题
            </label>
            <label class="radio-inline">
            <input type="radio" name="problem[type]" id="calculate" value="计算题">计算题
            </label>
            <label class="radio-inline">
            <input type="radio" name="problem[type]" id="question" value="问答题">问答题
            </label>
         </div>

        <hr>

      <div class="form-group ">
       <label for="inputTitle" class="col-md-2 control-label">题干</label>
       <div class="col-md-8">
        <textarea type="text" class="form-control" name="problem[title]" id="inputTitle" cols="20" rows="5">{{problem.title}}</textarea>
       </div>
      </div>

      <div class="choice-group">
        <div class="form-group">
            <div class="col-md-8 col-md-offset-2">
                <div class="input-group ">
                  <span class="input-group-addon">
                    <input type="radio" aria-label="A" name="problem[answer]" value="A">
                  </span>
                  <input class="form-control" type="text" aria-label="A选项" name="problem[a]" placeholder="A选项" value={{problem.a}} >
                </div><!-- /input-group -->
              </div><!-- /.col-md-8 -->
        </div><!-- /.form-group -->
        <div class="form-group">
          <div class="col-md-8 col-md-offset-2">
              <div class="input-group ">
                <span class="input-group-addon">
                  <input type="radio" aria-label="B" name="problem[answer]" value="B">
                </span>
                <input class="form-control" type="text" aria-label="B选项" name="problem[b]" placeholder="B选项" value={{problem.b}} >
              </div><!-- /input-group -->
            </div><!-- /.col-md-8 -->
        </div><!-- /.form-group -->
        <div class="form-group">
          <div class="col-md-8 col-md-offset-2">
              <div class="input-group ">
                <span class="input-group-addon">
                  <input type="radio" aria-label="C" name="problem[answer]" value="C">
                </span>
                <input class="form-control" type="text" aria-label="C选项" name="problem[c]" placeholder="C选项" value={{problem.c}} >
              </div><!-- /input-group -->
            </div><!-- /.col-md-8 -->
        </div><!-- /.form-group -->
        <div class="form-group">
          <div class="col-md-8 col-md-offset-2">
              <div class="input-group ">
                <span class="input-group-addon">
                  <input type="radio" aria-label="D" name="problem[answer]" value="D">
                </span>
                <input class="form-control" type="text" aria-label="D选项" name="problem[d]" placeholder="D选项" value={{problem.d}} >
              </div><!-- /input-group -->
          </div><!-- /.col-md-8 -->
        </div><!-- /.form-group -->
      </div>
      {{> upload}}
       <hr>
       <div class="form-group ">
         <label for="inputDifficulty" class="col-md-2 control-label">难度</label>
           <div id="inputDifficulty" class="col-md-3">
              <label class="radio-inline control-label">
                <input type="radio" name="problem[difficulty]" id="easy" value="2" checked>容易
              </label>
              <label class="radio-inline control-label">
                <input type="radio" name="problem[difficulty]" id="medium" value="5" >中等
              </label>
              <label class="radio-inline control-label">
                <input type="radio" name="problem[difficulty]" id="hard" value="8" >困难
              </label>
           </div>
         <label for="inputPaper" class="col-md-2 control-label">所属试卷</label>
        <div class="col-md-5">
          <select name="problem[paper]" id="inputPaper">
          {{#each papers}}
            <option value="{{this._id}}" >{{this.name}}</option>
          {{/each}}
          </select>
        </div>

      </div> {{!-- 一行结尾 --}}


{{!--             <div class="btn-group">
              <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                <span class="selected">所属试卷</span>
                 <span class="caret"></span>
              </button>
              <ul class="dropdown-menu" role="menu">
              {{#each papers}}
                <li>
                  <a value="{{this._id}}" name="problem[paper]">{{this.name}}</a>
                </li>
                <li class="divider"></li>
              {{/each}}
              </ul>
            </div> --}}


       <div class="form-group ">
         <label for="inputAnswer" class="col-md-2 control-label">参考答案</label>
         <div class="col-md-8">
          <input id="inputAnswer" class="form-control" type="text"  placeholder="{{problem.answer}}" value={{problem.answer}} >
          </div>
       </div>
        <div class="form-group ">
         <label for="inputAnalysis" class="col-md-2 control-label">解析</label>
         <div class="col-md-8">
          <textarea type="text" class="form-control" name="problem[analysis]" id="inputAnalysis" cols="30" rows="10">{{problem.analysis}} </textarea>
         </div>
       </div>

       <div class="form-group">
        <div class="col-md-6 col-md-offset-5">
          <button class="btn btn-success" type="submit">录 入 预 览</button>
        </div>
       </div>

     </form>
     </div>
     </div>
  </div>
</div>
<script>
  $(document).ready(function() {
    $('#inputType').click(function (event) {
      var target = event.target;
      // console.log(target);
      var id = target.id;
      // console.log(id);
      switch (id) {
        case 'multiple-choice':
          $('.choice-group').show();
          break;
        case 'fill-in':
          $('.choice-group').hide();
          break;
        case 'calculate':
          $('.choice-group').hide();
          break;
        case 'problem':
          $('.choice-group').hide();
          break;

      }
    });
    $('.btn-group').on('click', function(event) {
      event.preventDefault();
      var $target = $(event.target);
      var txt = $target.text();
      $(this).find('.selected').text(txt);
    });

  });
</script>

