{{!-- admin-paperlist.hbs --}}
{{!< ../layout}}
<style>
  .paperName {
    font-size: 1.2em;
  }
  .updateAt {
    margin-bottom: 0;
  }
  ol, ul{
    list-style-type: none;
  }
  .newPaper {
    margin-bottom: 20px;
  }
  .per-paper {
    width: 100%;
    height: 300px;
    overflow: hidden;
  }
</style>

<div class="container ">
  <div class="row">
  {{!-- <h4 class="heading">我的试卷</h4> --}}
  <div class="col-md-12 text-right">
    <div class="col-md-4 col-md-offset-8">
      <div class="btn-group newPaper">
        <a href="/admin/paper/new" role="button" class="btn btn-success"><i class="fa fa-plus"></i>&nbsp; 添加试卷</a>
      </div>
    </div>
  </div>
    <div class="col-md-12">

      <div class="paper-list">
        {{#each papers}}
        <div class="col-md-4 paper-id-{{this._id}}">
          <div class="panel panel-info per-paper ">
            <div class="panel-heading">
              <a href="/admin/paper/detail/{{this._id}}" target="__blank">
                <span class="paperName">
                {{this.name}}
                </span>
              </a>
              &nbsp;&nbsp;&nbsp;
              <span class="dropdown">
               <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                  <i class="fa fa-angle-down"></i>
                </a>
                <ul class="dropdown-menu" role="menu">
                  <li><a href="/admin/paper/detail/{{this._id}}" target="__blank" >查看</a> </li>
                  <li class="divider"></li>
                  <li><a href="/admin/paper/edit/{{this._id}}" >编辑</a> </li>
                  <li class="divider"></li>
                  <li><a href="#" data-id="{{_id}}" data-toggle="modal" data-target="#delModal" class="delPaper">删除</a> </li>
                </ul>
              </span>

              <h6 class="updateAt">
                更新于  {{moment this.meta.updateAt format="YYYY-MM-DD HH:mm"}}
              </h6>
            </div>
            <div class="panel-body">
              <p>{{this.brief}}</p>
              <p>已参考人数：</p>
            </div>
          </div>
        </div>
        {{/each}}
      </div>
    </div>
  </div>
</div>
<div id="delModal" tabindex="-1" role="dialog" aria-labelledby="
myModalLabel" aria-hidden="true" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">确认删除？</h4>
      </div>
      <div class="modal-body">
        <p>删除后无法恢复</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
        <button type="button" class="btn btn-danger del">删除</button>
      </div>
    </div><!-- /.modal-content -->
  </div>
</div>
<script>
  $(document).ready(function() {
   $('.delPaper').click(function (event) {
    var target = $(event.target);
    var id = target.data('id');
    console.log('delete:', id);
    var tr = $('.paper-id-' + id);

    $('#delModal button.del').click(function(event) {
      $('#delModal').hide();
      $.ajax({
        type: 'DELETE',
        url: '/admin/paperBank/list?id='+ id
        })
      .done(function(results) {
        if (results.success === 1) {
          if (tr.length > 0) {
          tr.remove();
          }
        }
      });
    });
  });
  });
</script>
