{{!-- admin-newques.hbs --}}
{{!< ../layout}}
<style>
  .add-question {
    font-size: 1.1em;
  }
  .choice-editor {

    border: 1px solid #ccc;
    border-radius: 4px;
  }
  ol {
    list-style-type: none;
  }
</style>
{{!-- <script src="/bootstrap-wysiwyg/bootstrap-wysiwyg.js"></script> --}}

<script>
  $(document).ready(function() {
    $('#inputType').click(function(event) {
      var target = event.target;
      // console.log(target);
      var id = target.id;
      // console.log(id);
      switch (id) {
        case 'multiple-choice':
          $('#ques-choice').show();
          break;
        case 'fill-in':
          $('#ques-choice').hide();
          break;
        case 'calculate':
          $('#ques-choice').hide();
          break;

      }
    });

  });
</script>
<div class="container add-question">
  <div class="row">
     <form action="/admin/question/new" method="post" class="form-horizontal" enctype="multipart/form-data">
       {{#if question._id}}
         <input type="hidden" name="question[_id]" value="{{question._id}}">
       {{/if}}
       <div class="form-group  ">
         <label for="inputIndex" class="col-sm-1 col-sm-offset-1 control-label">编号</label>
         <div class="col-sm-2">
          <input id="inputIndex" class="form-control" type="text" placeholder="{{question.index}}" name="question[index]"
          value={{question.index}}>
         </div>

         <label for="inputChapter" class="col-sm-1 control-label">章节</label>
         <div class="col-sm-2">
          <input id="inputChapter" class="form-control" type="text"name="question[chapter]" placeholder="{{question.chapter}}" value={{question.chapter}}>
         </div>

         <label for="inputType" class="col-sm-1 control-label">题型</label>
         <div id="inputType" class="col-sm-4 input-group {{question.type}}">
            <label class="radio-inline control-label">
            <input type="radio" name="question[type]" id="multiple-choice" value="选择题" checked>选择题
            </label>
            <label class="radio-inline control-label">
            <input type="radio" name="question[type]" id="fill-in" value="填空题" >填空题
            </label>
            <label class="radio-inline control-label">
            <input type="radio" name="question[type]" id="calculate" value="计算题">计算题
            </label>
            <label class="radio-inline control-label">
            <input type="radio" name="question[type]" id="question" value="问答题">问答题
            </label>
         </div>

        <hr>

        <div class="form-group ">
         <label for="inputTitle" class="col-sm-2 control-label">题干</label>
         <div class="col-sm-8">
          <textarea type="text" class="form-control" name="question[title]" id="inputTitle" cols="20" rows="5">{{question.title}}</textarea>
         </div>
       </div>

      <div class="form-group" id="ques-choice">

      <ol>
       <li class="col-md-12">
        <label class="col-sm-2 control-label">A.
        </label>
         <div class="col-md-8">
          <input id="" class="form-control" type="text" name="question[a]" placeholder="A选项" value={{question.a}} >
          </div>
        </li>
       <li class="col-md-12">
        <label class="col-sm-2 control-label">B.
        </label>
         <div class="col-md-8">
          <input id="" class="form-control" type="text" name="question[b]" placeholder="B选项" value={{question.b}} >
          </div>
        </li>
       <li class="col-md-12">
        <label class="col-sm-2 control-label">C.
        </label>
         <div class="col-md-8">
          <input id="" class="form-control" type="text" name="question[c]" placeholder="C选项" value={{question.choice.C}} >
          </div>
        </li>
       <li class="col-md-12">
        <label class="col-sm-2 control-label">D.
        </label>
         <div class="col-md-8">
          <input id="" class="form-control" type="text" name="question[d]" placeholder="D选项" value={{question.choice.D}} >
          </div>
        </li>

      </ol>
      </div>

      {{> upload}}
       <hr>
       <div class="form-group ">
         <label for="inputDifficulty" class="col-sm-2 control-label">难度</label>
           <div id="inputDifficulty" class="col-sm-10">
              <label class="radio-inline control-label">
                <input type="radio" name="question[difficulty]" id="easy" value="2" checked>容易
              </label>
              <label class="radio-inline control-label">
                <input type="radio" name="question[difficulty]" id="medium" value="5" >中等
              </label>
              <label class="radio-inline control-label">
                <input type="radio" name="question[difficulty]" id="hard" value="8" >困难
              </label>
           </div>
       </div>
       <div class="form-group ">
         <label for="inputAnswer" class="col-sm-2 control-label">参考答案</label>
         <div class="col-sm-8">
          <input id="inputAnswer" class="form-control" type="text" name="question[answer]" placeholder="{{question.answer}}" value={{question.answer}} >
          </div>
       </div>
        <div class="form-group ">
         <label for="inputAnalysis" class="col-sm-2 control-label">解析</label>
         <div class="col-sm-8">
          <textarea type="text" class="form-control" name="question[analysis]" id="inputAnalysis" cols="30" rows="10">{{question.analysis}} </textarea>
         </div>
       </div>

       <div class="form-group">
        <div class="col-sm-6 col-sm-offset-5">
          <button class="btn btn-success" type="submit">录 入 预 览</button>
        </div>
       </div>
       {{!-- {{debug question}} --}}
     </form>
  </div>
</div>
