{{!-- admin-newprobs.hbs --}}
{{!< ../layout}}
<style>
  .add-problem {
    font-size: 1.1em;
  }
  ol, ul{
    list-style-type: none;
  }
  .form-control {
    border: 1px solid #AFC6DA;
  }
</style>


<div class="container add-problem">
  <div class="row">
    <div class="col-md-12">
     <form action="/admin/problem/new" method="post" class="form-horizontal" enctype="multipart/form-data">
       {{#if problem._id}}
         <input type="hidden" name="problem[_id]" value="{{problem._id}}">
       {{/if}}

       <div class="form-group  ">
         <label for="inputIndex" class="col-md-1 col-md-offset-1 control-label">编号</label>
         <div class="col-md-1">
          <input id="inputIndex" class="form-control" type="text" placeholder="{{problem.index}}" name="problem[index]"
          value={{problem.index}}>
         </div>
         <label for="inputPaper" class="col-md-1 control-label radio-inline">所属试卷</label>
         <div class="col-md-1">
         <label for="" class="radio-inline">选择所属试卷</label>
          <input id="inputPaper" class="form-control" type="select" placeholder="{{problem.paper}}" name="problem[paper]"
          value={{problem.paper}}>
         </div>

         <label for="inputChapter" class="col-md-1 control-label">章节</label>
         <div class="col-md-1">
          <input id="inputChapter" class="form-control" type="text"name="problem[chapter]" placeholder="{{problem.chapter}}" value={{problem.chapter}}>
         </div>

         <label for="inputType" class="col-md-1 control-label">题型</label>
         <div id="inputType" class="col-md-4 input-group {{problem.type}}">
            <label class="radio-inline control-label">
            <input type="radio" name="problem[type]" id="multiple-choice" value="选择题" checked>选择题
            </label>
            <label class="radio-inline control-label">
            <input type="radio" name="problem[type]" id="fill-in" value="填空题" >填空题
            </label>
            <label class="radio-inline control-label">
            <input type="radio" name="problem[type]" id="calculate" value="计算题">计算题
            </label>
            <label class="radio-inline control-label">
            <input type="radio" name="problem[type]" id="problem" value="问答题">问答题
            </label>
         </div>

        <hr>

      <div class="form-group ">
       <label for="inputTitle" class="col-md-2 control-label">题干</label>
       <div class="col-md-8">
        <textarea type="text" class="form-control" name="problem[title]" id="inputTitle" cols="20" rows="5">{{problem.title}}</textarea>
       </div>
      </div>

      <div class="choice-group">
        <div class="form-group">
            <div class="col-md-8 col-md-offset-2">
                <div class="input-group ">
                  <span class="input-group-addon">
                    <input type="radio" aria-label="A" name="problem[answer]" value="A">
                  </span>
                  <input class="form-control" type="text" aria-label="A选项" name="problem[a]" placeholder="A选项" value={{problem.a}} >
                </div><!-- /input-group -->
              </div><!-- /.col-md-8 -->
        </div><!-- /.form-group -->
        <div class="form-group">
          <div class="col-md-8 col-md-offset-2">
              <div class="input-group ">
                <span class="input-group-addon">
                  <input type="radio" aria-label="B" name="problem[answer]" value="B">
                </span>
                <input class="form-control" type="text" aria-label="B选项" name="problem[b]" placeholder="B选项" value={{problem.b}} >
              </div><!-- /input-group -->
            </div><!-- /.col-md-8 -->
        </div><!-- /.form-group -->
        <div class="form-group">
          <div class="col-md-8 col-md-offset-2">
              <div class="input-group ">
                <span class="input-group-addon">
                  <input type="radio" aria-label="C" name="problem[answer]" value="C">
                </span>
                <input class="form-control" type="text" aria-label="C选项" name="problem[c]" placeholder="C选项" value={{problem.c}} >
              </div><!-- /input-group -->
            </div><!-- /.col-md-8 -->
        </div><!-- /.form-group -->
        <div class="form-group">
          <div class="col-md-8 col-md-offset-2">
              <div class="input-group ">
                <span class="input-group-addon">
                  <input type="radio" aria-label="D" name="problem[answer]" value="D">
                </span>
                <input class="form-control" type="text" aria-label="D选项" name="problem[d]" placeholder="D选项" value={{problem.d}} >
              </div><!-- /input-group -->
          </div><!-- /.col-md-8 -->
        </div><!-- /.form-group -->
      </div>
      {{> upload}}
       <hr>
       <div class="form-group ">
         <label for="inputDifficulty" class="col-md-2 control-label">难度</label>
           <div id="inputDifficulty" class="col-md-10">
              <label class="radio-inline control-label">
                <input type="radio" name="problem[difficulty]" id="easy" value="2" checked>容易
              </label>
              <label class="radio-inline control-label">
                <input type="radio" name="problem[difficulty]" id="medium" value="5" >中等
              </label>
              <label class="radio-inline control-label">
                <input type="radio" name="problem[difficulty]" id="hard" value="8" >困难
              </label>
           </div>
       </div>
       <div class="form-group ">
         <label for="inputAnswer" class="col-md-2 control-label">参考答案</label>
         <div class="col-md-8">
          <input id="inputAnswer" class="form-control" type="text"  placeholder="{{problem.answer}}" value={{problem.answer}} >
          </div>
       </div>
        <div class="form-group ">
         <label for="inputAnalysis" class="col-md-2 control-label">解析</label>
         <div class="col-md-8">
          <textarea type="text" class="form-control" name="problem[analysis]" id="inputAnalysis" cols="30" rows="10">{{problem.analysis}} </textarea>
         </div>
       </div>
{{!--
      <div class="form-group">
      <script id="UEcontainer" name="uecontent" type="text/plain" style="width:1024px;height:500px;">
        初始化
      </script>

      </div>
      // <script src="/libs/ueditor/ueditor.config.js"></script>
      // <script src="/libs/ueditor/ueditor.all.js"></script>
      // <script type="text/javascript" charset="utf-8" src="/libs/ueditor/kityformula-plugin/addKityFormulaDialog.js"></script>
      // <script type="text/javascript" charset="utf-8" src="/libs/ueditor/kityformula-plugin/getKfContent.js"></script>
      // <script type="text/javascript" charset="utf-8" src="/libs/ueditor/kityformula-plugin/defaultFilterFix.js"></script>
      // <script>
      //   var ue = UE.getEditor('UEcontainer', {
      //     toolbars: [[
      //     'fullscreen', 'source', '|',
      //     'bold', 'italic', 'underline', '|', 'fontsize', '|', 'kityformula', 'preview'
      //     ]]
      //   });
      //   ue.ready(function() {
      //   //设置编辑器的内容
      //   // ue.setContent('hello');
      //   //获取html内容，返回: <p>hello</p>
      //   var html = ue.getContent();
      //   //获取纯文本内容，返回: hello
      //   var txt = ue.getContentTxt();
      //   console.log(txt);

      //   });
      // </script>
 --}}
       <div class="form-group">
        <div class="col-md-6 col-md-offset-5">
          <button class="btn btn-success" type="submit">录 入 预 览</button>
        </div>
       </div>
       {{!-- {{debug problem}} --}}
     </form>
     </div>
     </div>
  </div>
</div>
<script>
  $(document).ready(function() {
    $('#inputType').click(function (event) {
      var target = event.target;
      // console.log(target);
      var id = target.id;
      // console.log(id);
      switch (id) {
        case 'multiple-choice':
          $('.choice-group').show();
          break;
        case 'fill-in':
          $('.choice-group').hide();
          break;
        case 'calculate':
          $('.choice-group').hide();
          break;
        case 'problem':
          $('.choice-group').hide();
          break;

      }
    });

  });
</script>

