{{!-- examcheck.hbs --}}
{{!-- 正式考试页面 --}}

{{!< ../layout}}
<style>


</style>

<script>
  $(document).ready(function() {
    $('.per-prob').each(function(index, el) {
        $(this).find('span.prob-index').text((index+1));
     });

    $('.answer, .detail').click(function(event) {
      event.preventDefault();
      // var $target = $(event.target);
      // var id = $target.data('id');
      var id = $(this).data('id');
      var $prob = $('.prob-id-' + id);
      var $trueAns = $prob.find('.true-ans'),
        $probDetail = $prob.find('.prob-detail');
        var $analysis = $prob.find('.analysis');
      var txt;
      txt = $(this).hasClass('answer') ? '答案': '解析';
      if ($analysis.text().trim() == '') {
        $analysis.text('本题暂无解析');
      }
      if($(this).hasClass('answer')) {
        $trueAns.toggleClass('hidden');
        if (!($trueAns.hasClass('hidden'))) {
          $(this).text('隐藏' + txt);
        } else {
          $(this).text('查看' + txt);
        }
      } else {
        $probDetail.toggleClass('hidden');
        if (!($probDetail.hasClass('hidden'))) {
          $(this).text('隐藏' + txt);
        } else {
          $(this).text('查看' + txt);
        }
      }
    });


  });
</script>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h2 id="paper-heading" class="col-md-offset-5">题 目 解 析</h2>
      <hr>
    </div>
  {{!--   <form action="" method="GET" class="form-horizontal" enctype="multipart/form-data"> --}}

      <div class="col-md-10 col-md-offset-1" id="exam-container">
        {{#each userAnsArr}}
            <article class="panel panel-info per-prob prob-id-{{_id}}" data-id="{{_id}}">
            <input type="hidden" name="problem" value="{{_id}}">
              <section class="prob-info panel-heading">
                <label for="">第 &nbsp;&nbsp;<span class="prob-index">X</span> &nbsp;&nbsp;题 </label>
                <label class="prob-type" for=""> &nbsp;&nbsp;&nbsp;[&nbsp;{{this.problem.type}}&nbsp;] &nbsp;</label>
                <div class="prob-title">{{this.problem.title}}</div>
                {{#if this.problem.a}}
                  <dt>选项</dt>
                  <dd>A. {{this.problem.a}}</dd>
                  <dd>B. {{this.problem.b}}</dd>
                  <dd>C. {{this.problem.c}}</dd>
                  <dd>D. {{this.problem.d}}</dd>
                {{/if}}
                 <div class="prob-content">{{this.problem.content}}</div>
               {{#if this.problem.image.path}}
                <div class="prob-img">
                   <dt>第 <span class="prob-index">X</span> 题图</dt>
                   <dd><img src="{{this.problem.image.path}}" alt="{{this.problem.index}}图">
                   </dd>
                </div>
                {{/if}}

              </section>
              <section class="ans-info panel-body" >
                <div class="row">
                  <div class="col-lg-6">
                    <div class="input-group ans-content">
                      <span class="input-group-addon">回答：</span>
                      <input type="text" class="form-control std-ans" placeholder="{{this.content}}" name="answer" value="{{this.content}}" readonly>
                    </div><!-- /input-group -->
                  </div><!-- /.col-lg-6 -->

                  <div class="col-lg-2">
                    {{#if this.status}}
                        <i class="fa fa-check-circle ans-check-right"></i>
                    {{else}}
                        <i class="fa fa-times-circle ans-check-wrong"></i>
                    {{/if}}
                  </div>

                  <div class="col-lg-4">
                    <div class="input-group true-ans hidden">
                      <p> 正确答案:
                      <span>{{this.problem.answer}}</span>
                      </p>
                    </div><!-- /input-group -->
                  </div><!-- /.col-lg-6 -->
                </div><!-- /.row -->
                <div class="row check">
                  <div class="col-lg-6">
                    <button class="btn btn-info answer" data-id="{{_id}}">查看答案</button>
                    <button class="btn btn-primary detail" data-id="{{_id}}">查看解析</button>
                  </div>
                </div>
                <div class="row prob-detail hidden">
                  <p class="analysis">{{this.problem.analysis}}</p>
                </div>
              </section>
            </article>
            <hr>
        {{/each}}
      </div>
      <div class="row">
        <div class="col-md-12">
        得分：
         {{!--  <div class="col-md-offset-5">
            <a href="#"><button id="submit-paper" class="btn btn-danger" type="submit">提 交 答 卷</button></a>
          </div> --}}
        </div>
      </div>

  </div>
{{!--  </form> --}}
</div>
{{!-- <script src="/js/admin.js"></script> --}}
