{{!-- 正式考试页面 --}}

{{!< ../layout}}
<style>

</style>

<script>
  $(document).ready(function() {
    $('.true-ans, .ans-check-right, .ans-check-wrong').hide();
    $('.per-prob').each(function(index, el) {
        $(this).find('span.prob-index').text((index+1));

     });
  });
</script>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h2 id="paper-heading" class="col-md-offset-5">在 线 考 试</h2>
      <hr>
    </div>
    <form action="/std/exam/check" method="post" class="form-horizontal" enctype="multipart/form-data">
      <div class="col-md-10 col-md-offset-1" id="exam-container">

        {{#each problems}}
            <article class="panel panel-info per-prob prob-id-{{_id}}" data-id="{{_id}}">
            <input type="hidden" name="problem" value="{{_id}}">
              <section class="prob-info panel-heading">
                <label for="">第 &nbsp;&nbsp;<span class="prob-index">X</span> &nbsp;&nbsp;题 </label>
                <label class="prob-type" for=""> &nbsp;&nbsp;&nbsp;[&nbsp;{{this.type}}&nbsp;] &nbsp;</label>
                <div class="prob-title">{{this.title}}</div>
                {{#if this.a}}
                  <dt>选项</dt>
                  <dd>A. {{this.a}}</dd>
                  <dd>B. {{this.b}}</dd>
                  <dd>C. {{this.c}}</dd>
                  <dd>D. {{this.d}}</dd>
                {{/if}}
                 <div class="prob-content">{{this.content}}</div>
               {{#if this.image.path}}
                <div class="prob-img">
                   <dt>第 <span class="prob-index">X</span> 题图</dt>
                   <dd><img src="{{this.image.path}}" alt="{{this.index}}图">
                   </dd>
                </div>
                {{/if}}
              </section>


              <section class="ans-info panel-body" >
                <div class="row">
                  <div class="col-lg-6">
                    <div class="input-group ans-content">
                      <span class="input-group-addon">回答：</span>
                      <input type="text" class="form-control std-ans" placeholder="" name="answer" value="">
                    </div><!-- /input-group -->
                  </div><!-- /.col-lg-6 -->
                  <div class="col-md-2 ans-check-right">
                      <i class="fa fa-check-circle"></i>
                  </div>
                  <div class="col-md-2 ans-check-wrong">
                      <i class="fa fa-times-circle"></i>
                  </div>
                  <div class="col-lg-2 col-md-offset-2">
                    <div class="input-group true-ans" >
                      <p> 正确答案:
                      {{!-- <span class="true-ans">{{this.answer}}</span> --}}
                      <span class="true-ans"></span>
                      </p>
                    </div><!-- /input-group -->
                  </div><!-- /.col-lg-6 -->
                </div><!-- /.row -->
              </section>
            </article>
            <hr>
        {{/each}}
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="col-md-offset-5">
            <a href="#"><button id="submit-paper" class="btn btn-danger" type="submit">提 交 答 卷</button></a>
          </div>
        </div>
      </div>
  {{!--     <aside id="exam-nav">
        <ul class="nav nav-pills nav-stacked col-sm-1">
          <li role=""><a href="#">上一题</a></li>
          <li role="" class="active"><a href="#">下一题</a></li>
        </ul>
      </aside> --}}
  </div>
 </form>
</div>
{{!-- <script src="/js/admin.js"></script> --}}
