{{!-- examcheck.hbs --}}
{{!-- 正式考试页面 --}}

{{!< ../layout}}
<style>
  i.fa {
    font-size: 2em;
  }
  i.fa-check-circle {
    color: #2a8c01;
  }
  i.fa-times-circle {
    color: #DD1B45;
    color: red;
  }
  #exam-container {
    /*background: orange;*/
    font-size: 1.1em;
  }
  #exam-nav ul {
    display: block;
    position: fixed;
    top: 200px;
    right: 60px;
  }
  article.per-prob {
    margin-bottom: 20px;
  }
  #paper-heading {
    margin-bottom: 40px;
  }
  #exam-container .true-ans {
    color: red;
  }
  #exam-container .check {
    margin-top: 10px;
  }

</style>

<script>
  $(document).ready(function() {
    var $trueAns = $('.true-ans'),
        $probDetail = $('.prob-detail');
    $trueAns.hide();
    $probDetail.hide();
    $('.per-prob').each(function(index, el) {
        $(this).find('span.prob-index').text((index+1));
     });
    $('.answer, .detail').click(function(event) {
      event.preventDefault();
      var $target = $(event.target);
      var id = $target.data('id');
      var $prob = $('.prob-id-' + id);
      if($target.hasClass('answer')) {
        $prob.find('.true-ans').show();
      } else {
        $prob.find('.prob-detail').show();
      }
    });
    // $('.detail').click(function(event) {
    //   event.preventDefault();
    //   var target = $(event.target);
    //   var id = target.data('id');
    //   console.log('problem id', id);

    //   var $prob = $('.prob-id-' + id);
    //   $prob.find('.prob-detail').show();
    // });


  });
</script>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h2 id="paper-heading" class="col-md-offset-5">题 目 解 析</h2>
      <hr>
    </div>
  {{!--   <form action="" method="GET" class="form-horizontal" enctype="multipart/form-data"> --}}

      <div class="col-md-10 col-md-offset-1" id="exam-container">
        {{#each userAnsArr}}
            <article class="panel panel-info per-prob prob-id-{{_id}}" data-id="{{_id}}">
            <input type="hidden" name="problem" value="{{_id}}">
              <section class="prob-info panel-heading">
                <label for="">第 <span class="prob-index">X</span> 题 </label>
                <label class="prob-type" for=""> &nbsp;&nbsp;&nbsp; &nbsp;{{this.problem.type}}&nbsp; &nbsp;</label>
                <div class="prob-title">{{this.problem.title}}</div>
                {{#if this.problem.a}}
                  <dt>选项</dt>
                  <dd>A. {{this.problem.a}}</dd>
                  <dd>B. {{this.problem.b}}</dd>
                  <dd>C. {{this.problem.c}}</dd>
                  <dd>D. {{this.problem.d}}</dd>
                {{/if}}
                 <div class="prob-content">{{this.problem.content}}</div>

              </section>
               {{#if this.problem.image.path}}
                   <dt>第 <span class="prob-index">X</span> 题图</dt>
                   <dd><img src="{{this.problem.image.path}}" alt="{{this.problem.index}}图">
                   </dd>
                {{/if}}

              <section class="ans-info panel-body" >
                <div class="row">
                  <div class="col-lg-6">
                    <div class="input-group ans-content">
                      <span class="input-group-addon">回答：</span>
                      <input type="text" class="form-control std-ans" placeholder="{{this.content}}" name="answer" value="{{this.content}}" readonly>
                    </div><!-- /input-group -->
                  </div><!-- /.col-lg-6 -->

                  <div class="col-lg-2">
                    {{#if this.status}}
                        <i class="fa fa-check-circle ans-check-right"></i>
                    {{else}}
                        <i class="fa fa-times-circle ans-check-wrong"></i>
                    {{/if}}
                  </div>

                  <div class="col-lg-4">
                    <div class="input-group true-ans">
                      <p> 正确答案:
                      <span>{{this.problem.answer}}</span>
                      </p>
                    </div><!-- /input-group -->
                  </div><!-- /.col-lg-6 -->
                </div><!-- /.row -->
                <div class="row check">
                  <div class="col-lg-6">
                    <button class="btn btn-info answer" data-id="{{_id}}">查看答案</button>
                    <button class="btn btn-primary detail" data-id="{{_id}}">查看解析</button>
                  </div>
                </div>
                <div class="row prob-detail">
                  <p>{{this.problem.analysis}}</p>
                </div>
              </section>
            </article>
            <hr>
        {{/each}}
      </div>
      <div class="row">
        <div class="col-md-12">
        得分：
         {{!--  <div class="col-md-offset-5">
            <a href="#"><button id="submit-paper" class="btn btn-danger" type="submit">提 交 答 卷</button></a>
          </div> --}}
        </div>
      </div>
  {{!--     <aside id="exam-nav">
        <ul class="nav nav-pills nav-stacked col-sm-1">
          <li role=""><a href="#">上一题</a></li>
          <li role="" class="active"><a href="#">下一题</a></li>
        </ul>
      </aside> --}}

  </div>
{{!--  </form> --}}
</div>
{{!-- <script src="/js/admin.js"></script> --}}
