{{!-- index.hbs --}}
{{!< ../layout}}

<style>
  ul {
    list-style: none;
  }
  ul li {
    margin-bottom: 10px;
  }
</style>
<div class="main-container"><img src="./libs/images/main-pic.jpg" class="main-pic"/>
  <div class="holder-container">
    <h1>Welcome to</h1>
    <h2>电路分析在线考试系统</h2>
    <p><a type="button" data-toggle="modal" data-target="#loginModal" class="btn btn-large">登录</a>

    <a href="/signup" class="btn btn-large">注册 </a></p>
  </div>
</div>

<div class="container">
  <div class="row">
  {{!-- {{#each paper in papers}} --}}
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3><a href="#">{{paper.name}}</a></h3>
      </div>
      <div class="panel-body">
      {{#if paper.problems }}
        {{#each problems}}
          <div class="col-md-2">
            <div class="thumbnail">
              {{#if this.image.path}}
              <img src="{{this.image.path}}" alt="{{this.title}}'s img">
              {{/if}}
            </div>
            <div class="caption">
              <h4>{{this.title}}</h4>
              <a href="/admin/problem/preview/{{this._id}}" role="button" class="btn btn-default">详细</a>
            </div>
          </div>
        {{/each}}
      {{/if}}
      </div>
    </div>
{{!--   {{/each}} --}}
  </div>
</div>
