{{!-- 题目录入预览页 --}}
{{!< ../layout}}

<style>
  .dl-horizontal {
    font-size: 1.2em;
  }
  dd {
    margin-bottom: 20px;
    border-bottom: 2px solid rgba(233, 233, 232, 0.5);
  }
</style>

<div class="container">
  {{#problem}}
  <div class="row">

    <div class="col-md-10 col-md-offset-1">
      <dl class="dl-horizontal">
        <dt>编号</dt>
        <dd>{{index}}</dd>
        <dt>题型</dt>
        <dd>{{type}}</dd>
        <dt>章节</dt>
        <dd>{{chapter}}</dd>
        <dt class="difficulty" id="{{difficulty}}">难易</dt>
        <dd class="difficulty"> </dd>
        <dt>所属试卷</dt>
        {{#each paper}}
        <dd>{{name}}</dd>
        {{/each}}
        <dt>题干</dt>
        <dd>{{title}}</dd>
        {{#if a}}
        <dt>选项</dt>
        <dd>A. {{a}}</dd>
        <dd>B. {{b}}</dd>
        <dd>C. {{c}}</dd>
        <dd>D. {{d}}</dd>
        {{/if}}
        {{#if image.path}}
        <dt>题图</dt>
        <dd>
          <img src="{{image.path}}" alt="图呢？">
        </dd>
        {{/if}}
        <dt>答案</dt>
        <dd>{{answer}}</dd>
        <dt>解析</dt>
        <dd>{{analysis}}</dd>
      </dl>
    </div>

  </div>

  <div class="row">
    <div class="col-md-12" style="text-align: center">
    <a href="/admin/problem/edit/{{_id}}"> <button class="btn btn-primary">修 改</button></a>
    &nbsp;&nbsp;
    <a href="/admin/problem/new"> <button class="btn btn-success">继续添加</button></a>
    &nbsp;&nbsp;
    <a href="/admin/problemBank/list"> <button class="btn btn-info">习题列表</button></a>
    </div>
  </div>
  {{/problem}}
</div>
<script>
  $(document).ready(function() {

    var $ddText = $('dd.difficulty');
    var diff = $('dt.difficulty')[0].id;
    console.log(diff)
    switch(diff) {
      case '2':
        $ddText.html('容易');
        break;
      case '5':
        $ddText.html('中等');
        break;
      case 8:
        $ddText.html('困难');
        break;
    }
  });
</script>
