{{!-- admin-newques.hbs --}}
{{!< ../layout}}
<style>
  .add-problem {
    font-size: 1.1em;
  }
  .choice-editor {

    border: 1px solid #ccc;
    border-radius: 4px;
  }
  ol {
    list-style-type: none;
  }
</style>
{{!-- <script src="/bootstrap-wysiwyg/bootstrap-wysiwyg.js"></script> --}}

<script>
  $(document).ready(function() {
    // 题型确定
    if ($('#inputType').hasClass('选择题')) {
      $('#multiple-choice').prop('checked', 'true');
    }  else if($('#inputType').hasClass('填空题')) {
      $('#fill-in').prop('checked', 'true');
    }  else {
      $('#calculate').prop('checked', 'true');
    }

    // 选项确定
    var choiceVal = $('.choice-group').data('val');
    choiceText = $('.choice-group input:radio');
    $.each(choiceText, function(index, val) {
       /* iterate through array or object */
       if ($(this).val() == choiceVal) {
        return $(this).prop('checked', 'true');
       }
    });

    // 难度确定
    var diffVal = $('.prob-difficulty').data('val');
    var $diffText;
    // console.log('diffVal:', diffVal);
    switch (diffVal) {
      case 2:
        $diffText = $('#easy');
        break;
      case 5:
        $diffText = $('#medium');
        break;
      case 8:
        $diffText = $('#hard');
        break;
    }
    $diffText.prop('checked', 'true');

  });
</script>
<div class="container add-problem">
  <div class="row">
     <form action="/admin/problem/new" method="post" class="form-horizontal">
       {{#if problem._id}}
         <input type="hidden" name="problem[_id]" value="{{problem._id}}">
       {{/if}}
       <div class="form-group  ">
         <label for="inputIndex" class="col-sm-1 col-sm-offset-1 control-label">编号</label>
         <div class="col-sm-2">
          <input id="inputIndex" class="form-control" type="text" placeholder="{{problem.index}}" name="problem[index]"
          value={{problem.index}}>
         </div>

         <label for="inputChapter" class="col-sm-1 control-label">章节</label>
         <div class="col-sm-2">
          <input id="inputChapter" class="form-control" type="text"name="problem[chapter]" placeholder="{{problem.chapter}}" value={{problem.chapter}}>
         </div>

         <label for="inputType" class="col-sm-1 control-label">题型</label>
         <div id="inputType" class="{{problem.type}} col-sm-4 input-group">
             {{!--  <div id="" class="{{problem.type}}"></div> --}}
            <label class="radio-inline control-label">
            <input type="radio" name="problem[type]" id="multiple-choice" value="选择题"
            >选择题
            </label>
            <label class="radio-inline">
            <input type="radio" name="problem[type]" id="fill-in" value="填空题">填空题
            </label>
            <label class="radio-inline">
            <input type="radio" name="problem[type]" id="calculate" value="计算题">计算题
            </label>
            <label class="radio-inline">
            <input type="radio" name="problem[type]" id="question" value="问答题">问答题
            </label>
         </div>

        <hr>

        <div class="form-group ">
         <label for="inputTitle" class="col-sm-2 control-label">题干</label>
         <div class="col-sm-8">
          <textarea type="text" class="form-control" name="problem[title]" id="inputTitle" cols="20" rows="5">{{problem.title}}</textarea>
         </div>
       </div>

      {{#if problem.a}}
      <div class="choice-group" data-val="{{problem.answer}}">
        <div class="form-group">
              <div class="col-md-8 col-md-offset-2">
                  <div class="input-group ">
                    <span class="input-group-addon">
                      <input type="radio" aria-label="A" name="problem[answer]" value="A" >
                    </span>
                    <input class="form-control" type="text" aria-label="A选项" name="problem[a]" placeholder="A选项" value={{problem.a}} >
                  </div><!-- /input-group -->
                </div><!-- /.col-md-8 -->
              </div><!-- /.form-group -->
            <div class="form-group">
              <div class="col-md-8 col-md-offset-2">
                  <div class="input-group ">
                    <span class="input-group-addon">
                      <input type="radio" aria-label="B" name="problem[answer]" value="B" >
                    </span>
                    <input class="form-control" type="text" aria-label="B选项" name="problem[b]" placeholder="B选项" value={{problem.b}} >
                  </div><!-- /input-group -->
                </div><!-- /.col-md-8 -->
              </div><!-- /.form-group -->
            <div class="form-group">
              <div class="col-md-8 col-md-offset-2">
                  <div class="input-group ">
                    <span class="input-group-addon">
                      <input type="radio" aria-label="C" name="problem[answer]" value="C" >
                    </span>
                    <input class="form-control" type="text" aria-label="C选项" name="problem[c]" placeholder="C选项" value={{problem.c}} >
                  </div><!-- /input-group -->
                </div><!-- /.col-md-8 -->
              </div><!-- /.form-group -->
            <div class="form-group">
              <div class="col-md-8 col-md-offset-2">
                  <div class="input-group ">
                    <span class="input-group-addon">
                      <input type="radio" aria-label="D" name="problem[answer]" value="D" >
                    </span>
                    <input class="form-control" type="text" aria-label="D选项" name="problem[d]" placeholder="D选项" value={{problem.d}} >
                  </div><!-- /input-group -->
             </div><!-- /.col-md-8 -->
          </div><!-- /.form-group -->
      </div>
      {{/if}}

     {{#if problem.image.path}}
      <div class="form-group">
        <label for="inputPic" class="col-md-2 control-label">原题图</label>
        <div class="col-md-8">
          <img src="{{problem.image.path}}" alt="图呢？">
        </div>
      </div>
      {{/if}}
      {{> upload}}
       <hr>

       <div class="form-group ">
         <label for="prob-difficulty" class="col-sm-2 control-label">难度</label>
           <div class="prob-difficulty col-sm-10" data-val="{{problem.difficulty}}">
              <label class="radio-inline control-label">
                <input type="radio" name="problem[difficulty]" id="easy" value="2" >容易
              </label>
              <label class="radio-inline control-label">
                <input type="radio" name="problem[difficulty]" id="medium" value="5" >中等
              </label>
              <label class="radio-inline control-label">
                <input type="radio" name="problem[difficulty]" id="hard" value="8" >困难
              </label>
           </div>
       </div>
       <div class="form-group ">
         <label for="inputAnswer" class="col-sm-2 control-label">参考答案</label>
         <div class="col-sm-8">
          <input id="inputAnswer" class="form-control" type="text" placeholder="{{problem.answer}}" value={{problem.answer}} readonly="true">
          </div>
       </div>
        <div class="form-group ">
         <label for="inputAnalysis" class="col-sm-2 control-label">解析</label>
         <div class="col-sm-8">
          <textarea type="text" class="form-control" name="problem[analysis]" id="inputAnalysis" cols="30" rows="10">{{problem.analysis}} </textarea>
         </div>
       </div>

       <div class="form-group">
        <div class="col-sm-6 col-sm-offset-5">
          <button class="btn btn-success" type="submit">保 存</button>
          &nbsp;&nbsp;
          <a href="/admin/problem/preview/{{problem._id}}" role="button" class="btn btn-primary">取消修改</a>
          &nbsp;&nbsp;
          <a href="/admin/problemBank/list" role="button" class="btn btn-info">题库列表</a>
        </div>
       </div>
       {{!-- {{debug problem}} --}}
     </form>
    </div>
</div>

