{{!-- problem-list.hbs --}}
{{!< ../layout}}

<style>
  .heading {
    margin-bottom: 30px;
    text-align: center;
  }
  .container {
    font-size: 1.1em;
  }
  .back {
    text-align: center;
  }
</style>

<div class="container">
  <div class="row">
    <div class="col-md-12 heading">
      <h2>考试题库列表</h2>

    </div>

    <table class="table table-hover table-bordered">
      <thead>
        <tr>
          <th>习题编号</th>
          <th>章节</th>
          <th>类型</th>
          <th>题目内容</th>
          {{!-- <th>保存时间</th> --}}
          <th>详细</th>
          <th>编辑</th>
          <th>删除</th>
        </tr>
      </thead>
      <tbody>

        {{#each problems}}
        <tr class="prob-id-{{_id}}">
          <td>{{this.index}}</td>
          <td>{{this.chapter}}</td>
          <td>{{this.type}}</td>
          <td>{{this.title}}</td>
          {{!-- <td>{{moment(this.meta.updateAt).format('MM/DD/YYYY')}}</td> --}}
          <td><a href="/admin/problem/preview/{{_id}}"><button class="btn btn-primary">查看</button></a> </td>
          <td><a href="/admin/problem/edit/{{_id}}"><button class="btn btn-info">编辑</button></a> </td>
          <td><button class="btn btn-danger del" data-id="{{_id}}" data-toggle="modal" data-target="#delModal">删除</button></td>

        </tr>
        {{/each}}
      </tbody>
    </table>
    <hr>
    <div class="col-md-12 back">
    <a href="/admin">
       <button class="btn btn-primary">返 回</button>
    </a>
    </div>
  </div>
</div>

<div id="delModal" tabindex="-1" role="dialog" aria-labelledby="
myModalLabel" aria-hidden="true" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">确认删除？</h4>
      </div>
      <div class="modal-body">
        <p>删除后无法恢复</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
        <button type="button" class="btn btn-danger del">删除</button>
      </div>
    </div><!-- /.modal-content -->
  </div>
</div>

<script src="/js/admin.js"></script>
