{{!-- quespreview.hbs --}}
{{!-- 题目录入预览页 --}}
{{!< ../layout}}
<style>
  .dl-horizontal {
    font-size: 1.2em;
  }
  dd {
    margin-bottom: 20px;
    border-bottom: 2px solid rgba(233, 233, 232, 0.5);
  }
</style>

<div class="container">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <dl class="dl-horizontal">
        <dt>编号</dt>
        <dd>{{question.index}}</dd>
        <dt>题型</dt>
        <dd>{{question.type}}</dd>
        <dt>章节</dt>
        <dd>{{question.chapter}}</dd>
        <dt class="difficulty" id="{{question.difficulty}}">难易</dt>
        <dd class="difficulty"> </dd>
        <dt>题干</dt>
        <dd>{{question.title}}</dd>
        {{#if question.a}}
        <dt>选项</dt>
        <dd>A. {{question.a}}</dd>
        <dd>B. {{question.b}}</dd>
        <dd>C. {{question.c}}</dd>
        <dd>D. {{question.d}}</dd>
        {{/if}}
        <dt>题图</dt>
        <dd><img src="{{question.image.path}}" alt="图呢？">
          图像。
        </dd>
        <dt>答案</dt>
        <dd>{{question.answer}}</dd>
        <dt>解析</dt>
        <dd>{{question.analysis}}</dd>
      </dl>
    </div>

  </div>

  <div class="row">
    <div class="col-md-2 col-md-offset-5">
    <a href="/admin/question/edit/{{question._id}}"> <button class="btn btn-primary">修 改</button></a></div>    
    <a href="/admin/questionBank/list"> <button class="btn btn-info">返回列表</button></a></div>    
  </div>
</div>
<script>
  $(document).ready(function() {

    var $ddText = $('dd.difficulty');
    var diff = $('dt.difficulty')[0].id;
    console.log(diff)
    switch(diff) {
      case '2': 
        $ddText.html('容易');
        break;
      case '5': 
        $ddText.html('中等');
        break;
      case 8: 
        $ddText.html('困难');
        break;
    }
  });
</script>