{{!-- wrongproblems-list.hbs --}}
{{!< ../layout}}

<style>
  #list-container {
    width: 98%;
  }
  .paper-list {
    height: 100vh;
  }
  .panel ul{
    list-style-type: none;
  }
  .heading {
    margin-bottom: 30px;
    text-align: center;
  }
  .container {
    font-size: 1.1em;
  }
  .back {
    text-align: center;
  }
</style>
<script src="/js/lodash.min.js"></script>
<script>
  $(document).ready(function () {
    // 正确显示难易程度
    $('.per-prob').each(function(index, el) {
       var $diff = $(this).find('.difficulty');
       var difNub = $diff.data('id');
        switch(difNub) {
          case 2:
            $diff.text('易');
            break;
          case 5:
            $diff.text('中');
            break;
          case 8:
            $diff.text('难');
            break;
        };
     });
    // 点击后确定功能
    var data = {
    };
    $('.btn-group').on('click', function(event) {
      event.preventDefault();
      var $target = $(event.target);
      var txt = $target.text();

      $(this).find('.selected').text(txt);

      if ($target.is('a')) {
        // Ajax 提交筛选功能
        // *****
        // TODO 题目难度的筛选
        // *****

        var _status = $target.data('status'); // 不是字符串
        var _type = $target.data('type'); // 不是字符串
        var _data = {
          status: _status,
          type: _type
        };
        $.extend(true, data, _data);

        console.log('send data', JSON.stringify(data));
        $.ajax({
          url: '/std/myproblems/',
          type: 'POST',
          data: JSON.stringify(data),
          contentType: 'application/json'
        })
        .done(function(data) {
          // console.log('**receive data**:', data);
          console.log("success");
          $('.ans-list').html(data);
        })
        .fail(function() {
          console.log("error");
        })
        .always(function() {

          console.log("complete");
        });

      }
    });

  });
</script>
<div id="list-container" class="container">
  <div class="row">
    <div class="col-md-12 heading">
      <h3>我 的 题 库</h3>
      <div class="prob-list-header">
          <div class="btn-group-list">
            <div class="btn-group">
              <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                <span class="selected">所有题目</span>
                 <span class="caret"></span>
              </button>
              <ul class="dropdown-menu" role="menu">
                <li><a href="#" data-status="all">所有题目</a></li>
                <li class="divider"></li>
                <li><a href="#" data-status="true">正确</a></li>
                <li class="divider"></li>
                <li><a href="#" data-status="false">错误</a></li>
              </ul>
            </div>
            <div class="btn-group">
              <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                <span class="selected">所有难度</span>
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu" role="menu">
                <li><a href="#">所有难度</a></li>
                <li class="divider"></li>
                <li><a href="#" data-diff="2">容易</a></li>
                <li class="divider"></li>
                <li><a href="#" data-diff="5">中等</a></li>
                <li class="divider"></li>
                <li><a href="#" data-diff="8">困难</a></li>
              </ul>
            </div>
            <div class="btn-group">
              <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                <span class="selected">所有题型</span>
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu" role="menu">
                <li><a href="#" data-type="all">所有题型</a></li>
                <li class="divider"></li>
                <li><a href="#" data-type="选择题">选择题</a></li>
                <li class="divider"></li>
                <li><a href="#" data-type="填空题">填空题</a></li>
                <li class="divider"></li>
                <li><a href="#" data-type="计算题">计算题</a></li>
                <li class="divider"></li>
                <li><a href="#" data-type="问答题">问答题</a></li>
              </ul>
            </div>
          </div>
        </div>

    </div>
    <div class="col-md-3">
      <div class="panel panel-info paper-list">
        <div class="panel-heading">
          <h3 class="panel-title">试卷列表</h3>
        </div>
        <div class="panel-body">
          <ul>
            <li>电路分析2013-2014期末 A 卷</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-md-9 ans-list">

          {{> std-answer }}

    </div>
    {{!-- <table id="dataTable" class="table table-hover table-bordered">
      <thead>
        <tr>
          <th>习题编号</th>
          <th>章节</th>
          <th>类型</th>
          <th>题目内容</th>

          <th>保存时间</th>
          <th>详细</th>
          <th>编辑</th>
          <th>删除</th>
        </tr>
      </thead>
      <tbody>

        {{#each userAnsArr}}

          <tr class="prob-id-{{problem._id}}">
            <td>{{problem.problem.index}}</td>
            <td>{{problem.problem.chapter}}</td>
            <td>{{problem.problem.type}}</td>
            <td>{{problem.problem.title}}</td>
            <td></td>
            <td><a href="/std/myproblems/list/" data-id="{{problem._id}}" role="button" class="btn btn-primary detail">查看</a> </td>
            <td><a href="/admin/problem/preview/{{_id}}" role="button" class="btn btn-info">编辑</a> </td>
            <td><a href="/admin/problem/preview/{{_id}}" role="button" class="btn btn-danger del" data-target="#delModal">删除</a> </td>

          </tr>
        {{/each}}
      </tbody>
    </table> --}}
    </div>
    <hr>
    <div class="col-md-12 back center">
    <a href="/std/home">
       <button class="btn btn-primary">返 回 主 页</button>
    </a>
    </div>
  </div>
</div>

<div id="delModal" tabindex="-1" role="dialog" aria-labelledby="
myModalLabel" aria-hidden="true" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">确认删除？</h4>
      </div>
      <div class="modal-body">
        <p>删除后无法恢复</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
        <button type="button" class="btn btn-danger del">删除</button>
      </div>
    </div><!-- /.modal-content -->
  </div>
</div>


