{{!-- admin-newques.hbs --}}
{{!< ../layout}}
<style>
  .add-question {
    font-size: 1.1em;
  }
  .choice-editor {

    border: 1px solid #ccc;
    border-radius: 4px;
  }
  ol {
    list-style-type: none;
  }
</style>
{{!-- <script src="/bootstrap-wysiwyg/bootstrap-wysiwyg.js"></script> --}}

<script>
  $(document).ready(function() {
    if ($('#inputType').hasClass('选择题')) {
      $('#multiple-choice').prop('checked', 'true');
    }  else if($('#inputType').hasClass('填空题')) {
      $('#fill-in').prop('checked', 'true');      
    }  else {
      $('#calculate').prop('checked', 'true');
    }

    if ($('#inputDifficulty').hasClass('2')) {
      $('#easy').prop('checked', 'true');
    }  else if($('#inputDifficulty').hasClass('5')) {
      $('#medium').prop('checked', 'true');      
    }  else {
      $('#hard').prop('checked', 'true');
    }
  });
</script>
<div class="container add-question">
  <div class="row">    
     <form action="/admin/question/new" method="post" class="form-horizontal">
       {{#if question._id}}
         <input type="hidden" name="question[_id]" value="{{question._id}}">
       {{/if}}
       <div class="form-group  ">
         <label for="inputIndex" class="col-sm-1 col-sm-offset-1 control-label">编号</label>
         <div class="col-sm-2">
          <input id="inputIndex" class="form-control" type="text" placeholder="{{question.index}}" name="question[index]"
          value={{question.index}}>
         </div>

         <label for="inputChapter" class="col-sm-1 control-label">章节</label>
         <div class="col-sm-2">
          <input id="inputChapter" class="form-control" type="text"name="question[chapter]" placeholder="{{question.chapter}}" value={{question.chapter}}>
         </div>

         <label for="inputType" class="col-sm-1 control-label">题型</label>
         <div id="inputType" class="{{question.type}} col-sm-4 input-group ">
             {{!--  <div id="" class="{{question.type}}"></div> --}}
            <label class="radio-inline control-label">
            <input type="radio" name="question[type]" id="multiple-choice" value="选择题" 
            >选择题
            </label>
            <label class="radio-inline">
            <input type="radio" name="question[type]" id="fill-in" value="填空题">填空题
            </label>
            <label class="radio-inline">
            <input type="radio" name="question[type]" id="calculate" value="计算题">计算题
            </label>
         </div>
        
        <hr>

        <div class="form-group ">
         <label for="inputTitle" class="col-sm-2 control-label">题干</label>
         <div class="col-sm-8">
          <textarea type="text" class="form-control" name="question[title]" id="inputTitle" cols="20" rows="5">{{question.title}}</textarea>
         </div>
       </div>
      
      {{#if question.a}}
      <div class="form-group">
      <ol>
       <li class="col-md-12"> 
        <label class="col-sm-2 control-label">A. 
        </label>
         <div class="col-md-8">
          <input id="" class="form-control" type="text" name="question[a]" placeholder="{{question.a}}" value={{question.a}} >
          </div>
        </li>
       <li class="col-md-12"> 
        <label class="col-sm-2 control-label">B. 
        </label>
         <div class="col-md-8">
          <input id="" class="form-control" type="text" name="question[b]" placeholder="{{question.b}}" value={{question.b}} >
          </div>
        </li>
       <li class="col-md-12"> 
        <label class="col-sm-2 control-label">C. 
        </label>
         <div class="col-md-8">
          <input id="" class="form-control" type="text" name="question[c]" placeholder="{{question.c}}" value={{question.c}} >
          </div>
        </li>
       <li class="col-md-12"> 
        <label class="col-sm-2 control-label">D. 
        </label>
         <div class="col-md-8">
          <input id="" class="form-control" type="text" name="question[d]" placeholder="{{question.d}}" value={{question.d}} >
          </div>
        </li>

      </ol>
      </div>
      {{/if}}

       <div class="form-group ">
        <label for="inputPic" class="col-sm-2 control-label">题目图片 </label>
        <div class="col-sm-10">
          <div class="upload-control input-group input-group-sm">
            <div class="input-group-btn"></div>
              <span class="btn btn-default btn-sm">选择文件
              <input id="inputPic" type="file" class="form-control"/></span>
          </div>
        </div>
       </div>
       <hr>
       <div class="form-group ">
         <label for="inputDifficulty" class="col-sm-2 control-label">难度</label>
           <div id="inputDifficulty" class="{{question.difficulty}} col-sm-10">
              <label class="radio-inline control-label">
                <input type="radio" name="question[difficulty]" id="easy" value="2" >容易
              </label>         
              <label class="radio-inline control-label">
                <input type="radio" name="question[difficulty]" id="medium" value="5" >中等
              </label>
              <label class="radio-inline control-label">
                <input type="radio" name="question[difficulty]" id="hard" value="8" >困难
              </label>
           </div>
       </div>
       <div class="form-group ">
         <label for="inputAnswer" class="col-sm-2 control-label">参考答案</label>
         <div class="col-sm-8">
          <input id="inputAnswer" class="form-control" type="text" name="question[answer]" placeholder="{{question.answer}}" value={{question.answer}} >
          </div>
       </div>
        <div class="form-group ">
         <label for="inputAnalysis" class="col-sm-2 control-label">解析</label>
         <div class="col-sm-8">
          <textarea type="text" class="form-control" name="question[analysis]" id="inputAnalysis" cols="30" rows="10">{{question.analysis}} </textarea>
         </div>
       </div>

       <div class="form-group">
        <div class="col-sm-6 col-sm-offset-5">
          <button class="btn btn-primary" type="submit">保 存</button>
        </div>
       </div>
       {{!-- {{debug question}} --}}
     </form>
  </div>
</div> 
